<li data-controller="task-toggle"
    class="<%= task.completed? ? "completed" : ''  %>">
  <div class="view">
    <input
           data-target="task-toggle.toggler"
           data-action="task-toggle#toggle"
           type="checkbox"
           <%= task.completed? ? 'checked' : '' %>
           class="toggle task-marker"
           data-task-id="<%= task.id %>"
           data-task-action="<%= task.completed? ? 'destroy' : 'create' %>"
    />

    <label>
      <%= task.title %>
    </label>

    <%= link_to '', task_path(task), method: :delete, remote: true, class: 'destroy', data: { 'task-id': task.id }  %>
  </div>
</li>
