<li class="<%= task.completed? ? "completed" : ''  %>">
  <div class="view">
    <input type="checkbox"
           <%= task.completed? ? 'checked' : '' %>
           class="toggle task-marker"
           data-task-id="<%= task.id %>"
    />

    <label>
      <%= task.title %>
    </label>

    <%= link_to '', task_path(task), method: :delete, remote: true, class: 'destroy', data: { 'task-id': task.id }  %>
  </div>
</li>
