<header class="header">
  <h1>Todos</h1>

  <%= form_with(model: @new_task) do |f| %>
    <%= f.text_field :title, id: 'task-input', class: 'new-todo', placeholder: 'What needs to be done?' %>

    <%= f.submit 'Save', class: 'hidden' %>
  <% end %>
</header>

<section class="main">
  <ul class="todo-list">
    <%= render @tasks  %>
  </ul>
</section>

<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong><%= @active_tasks_count %></strong> <%= "item".pluralize @active_tasks_count %> left</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <%= link_tab_filter('All', 'all', @task_filter) %>
    </li>
    <li>
      <%= link_tab_filter('Active', 'active', @task_filter) %>
    </li>
    <li>
      <%= link_tab_filter('Completed', 'completed', @task_filter) %>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <% if @completed_tasks_count > 0 %>
    <%= form_with(url: completed_task_cleanings_path) do |f| %>
      <%= f.button 'Clear completed', type: 'submit', class: 'clear-completed' %>
    <% end %>
  <% end %>
</footer>
