<header class="header">
  <h1>Todos</h1>

  <%= form_with(model: @new_task) do |f| %>
    <%= f.text_field :title, id: 'task-input', class: 'new-todo', placeholder: 'What needs to be done?' %>

    <%= f.submit 'Save', class: 'hidden' %>
  <% end %>
</header>

<section class="main">
  <ul class="todo-list">
    <%= render @tasks  %>
  </ul>
</section>

<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <include-fragment src="/active_tasks/tray" timeout="100">
  </include-fragment>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <%= link_tab_filter('All', 'all', @task_filter) %>
    </li>
    <li>
      <%= link_tab_filter('Active', 'active', @task_filter) %>
    </li>
    <li>
      <%= link_tab_filter('Completed', 'completed', @task_filter) %>
    </li>
  </ul>
  <include-fragment src="/completed_tasks/tray" timeout="100">
  </include-fragment>
</footer>
