<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='timestamp' data-turbolinks-permanent>
      <%= Time.now  %>
    </div>

    <section class="todoapp">
      <%= yield %>
    </section>
  </body>
</html>
